<!doctype html>
<html>
  <head>
    <title>Client for YDKE</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body ng-app="ydke">
    <main ng-controller="buzzer">
      <label>Name</label><input ng-model="name">
      <button ng-repeat="answer in question.answers" ng-click="send('answer', answer.text)">
        {{answer.text}}
      </button>
      <div ng-if="state == 'wrong'">WRONG!</div>
      <div ng-if="state == 'correct'">CORRECT!</div>
    </main>
    <script src="/js/client.js"></script>
  </body>
</html>